<form autocomplete="off" method="post" enctype="multipart/form-data" action="javascript:void(0)">
    <h4 class="text-center text-success">Inicio de Session</h4>
    <hr />
    
    <div class="form-group">
        <label for="correo_" class="form-label text-success">Correo Eléctronico</label>
        <input type="text" class="form-control text-success bg-dark border-success" id="correo_" name="correo_" placeholder="Correo Eléctronico" />
    </div>

    <div class="form-group">
        <label for="password_" class="form-label text-success">Contraseña</label>
        <input type="password" class="form-control text-success bg-dark border-success" id="password_" name="password_" placeholder="Contraseña" />
    </div>

    <div class="py-1">
        <a href="javascript:void(0)" class="text-success float-right" style="display:block;" onclick="CrearUsuario()">Crear nuevo usuario</a>
    </div>

    <div class="text-center pt-4">
        <button type="submit" class="btn btn btn-outline-dark border-success text-success">Iniciar Session</button>
    </div>
</form>